* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 微软雅黑;
}

.content {
    width: 700px;
    border: solid 1px #ccc;
    margin: 0 auto;
    padding: 25px 25px 0;
    background-color: #f9fbf9;
}

h1 {
    font-size: 30px;
    margin: 25px 0 15px;
    font-family: 黑体;
    text-align: center;
}